In [1]:
import uproot, numpy as np, pandas as pd


f = '/data/jlai/iris-hep/OutputPT/output_pt_10/measurements.root'
file = uproot.open(f)
t = file["measurements"]

cols = ["volume_id","layer_id","true_x","true_y","true_z",
        "var_loc0","var_loc1","residual_loc0","residual_loc1","pull_loc0","pull_loc1"]
a = t.arrays(cols, library="pd")

a["R"] = np.sqrt(a.true_x**2 + a.true_y**2)
a["absZ"] = a.true_z.abs()

a["sigma_loc0"] = np.sqrt(a.var_loc0.clip(lower=0))
a["sigma_loc1"] = np.sqrt(a.var_loc1.clip(lower=0))

g = a.groupby(["volume_id","layer_id"])

layer_table = pd.DataFrame({
    "R_mean": g["R"].median(),
    "Z_abs_mean": g["absZ"].median(),
    "sigma_loc0_med": g["sigma_loc0"].median(),
    "sigma_loc1_med": g["sigma_loc1"].median(),
    "resid0_RMS": g["residual_loc0"].std(ddof=0),
    "resid1_RMS": g["residual_loc1"].std(ddof=0),
    "pull0_RMS": g["pull_loc0"].std(ddof=0),
    "pull1_RMS": g["pull_loc1"].std(ddof=0),
    "n_hits": g.size()
}).reset_index()

layer_table

,volume_id,layer_id,R_mean,Z_abs_mean,sigma_loc0_med,sigma_loc1_med,resid0_RMS,resid1_RMS,pull0_RMS,pull1_RMS,n_hits
0,17,2,32.212589,37.247871,0.015,0.015,0.014785,0.014759,0.985699,0.983948,128301
1,17,4,68.192879,37.338409,0.015,0.015,0.014800,0.014756,0.986673,0.983746,123291
2,17,6,114.205940,37.277042,0.015,0.015,0.014776,0.014788,0.985075,0.985848,119738
3,17,8,170.203369,37.248318,0.015,0.015,0.014798,0.014841,0.986519,0.989393,120775
4,24,2,259.958557,37.040970,0.043,1.200,0.042593,1.181592,0.990533,0.984660,115326
5,24,4,359.965088,36.994240,0.043,1.200,0.042334,1.175907,0.984511,0.979923,116720
6,24,6,499.968170,37.046844,0.043,1.200,0.042503,1.176368,0.988441,0.980307,117055
7,24,8,659.980103,37.037098,0.043,1.200,0.042306,1.177817,0.983861,0.981514,116083
8,29,2,820.219971,37.001289,0.072,NaN,0.070814,NaN,0.983521,NaN,219578
9,29,4,1020.168030,37.076996,0.072,NaN,0.070996,NaN,0.986050,NaN,235259

In [1]:
import uproot, numpy as np, pandas as pd


f = '/data/jlai/iris-hep/output10/measurements.root'
file = uproot.open(f)
t = file["measurements"]

cols = ["volume_id","layer_id","true_x","true_y","true_z",
        "var_loc0","var_loc1","residual_loc0","residual_loc1","pull_loc0","pull_loc1"]
a = t.arrays(cols, library="pd")

a["R"] = np.sqrt(a.true_x**2 + a.true_y**2)
a["absZ"] = a.true_z.abs()

a["sigma_loc0"] = np.sqrt(a.var_loc0.clip(lower=0))
a["sigma_loc1"] = np.sqrt(a.var_loc1.clip(lower=0))

g = a.groupby(["volume_id","layer_id"])

layer_table = pd.DataFrame({
    "R_mean": g["R"].mean(),
    "Z_abs_mean": g["absZ"].median(),
    "sigma_loc0_med": g["sigma_loc0"].median(),
    "sigma_loc1_med": g["sigma_loc1"].median(),
    "resid0_RMS": g["residual_loc0"].std(ddof=0),
    "resid1_RMS": g["residual_loc1"].std(ddof=0),
    "pull0_RMS": g["pull_loc0"].std(ddof=0),
    "pull1_RMS": g["pull_loc1"].std(ddof=0),
    "n_hits": g.size()
}).reset_index()

layer_table

,volume_id,layer_id,R_mean,Z_abs_mean,sigma_loc0_med,sigma_loc1_med,resid0_RMS,resid1_RMS,pull0_RMS,pull1_RMS,n_hits
0,17,2,32.549679,39.242565,0.015,0.015,0.014675,0.014880,0.978304,0.991985,1275
1,17,4,68.387070,40.354538,0.015,0.015,0.014535,0.014830,0.969021,0.988688,1256
2,17,6,114.308823,38.899483,0.015,0.015,0.014902,0.014547,0.993482,0.969806,1198
3,17,8,170.270691,40.229809,0.015,0.015,0.014615,0.014873,0.974309,0.991509,1191
4,24,2,260.296204,39.176304,0.043,1.200,0.042515,1.190648,0.988726,0.992207,1139
5,24,4,360.281158,39.242565,0.043,1.200,0.040747,1.174737,0.947607,0.978947,1161
6,24,6,500.171082,40.229809,0.043,1.200,0.041613,1.159507,0.967738,0.966256,1157
7,24,8,660.154663,39.766781,0.043,1.200,0.042198,1.202641,0.981345,1.002201,1141
8,29,2,820.480835,39.815109,0.072,NaN,0.069028,NaN,0.958726,NaN,2174
9,29,4,1020.202698,39.242565,0.072,NaN,0.071452,NaN,0.992393,NaN,2305

In [19]:
for i in range(4):
    print(0, layer_table.resid0_RMS[i]*0.001, layer_table.resid1_RMS[i]*0.001, layer_table.R_mean[i]* 0.001)

0 1.4785486e-05 1.4759221e-05 0.032542057
0 1.4800092e-05 1.47561905e-05 0.06837143
0 1.4776128e-05 1.47877245e-05 0.11430968
0 1.4797782e-05 1.4840902e-05 0.17027566

In [ ]:
                "bins": 336,
                "max": 8.4,
                "min": -8.4,
                "option": "open",
                "type": "equidistant",
                "value": "binX"
              },
              {
                "bins": 1440,
                "max": 36.0,
                "min": -36.0,

In [4]:
8.4*2 / 336

0.05

In [5]:
0.05/np.sqrt(12)

np.float64(0.014433756729740645)