In [1]:
import uproot, numpy as np, pandas as pd


f = '/data/jlai/iris-hep/OutputPT/output_pt_10/measurements.root'
file = uproot.open(f)
t = file["measurements"]

cols = ["volume_id","layer_id","true_x","true_y","true_z",
        "var_loc0","var_loc1","residual_loc0","residual_loc1","pull_loc0","pull_loc1"]
a = t.arrays(cols, library="pd")

a["R"] = np.sqrt(a.true_x**2 + a.true_y**2)
a["absZ"] = a.true_z.abs()

a["sigma_loc0"] = np.sqrt(a.var_loc0.clip(lower=0))
a["sigma_loc1"] = np.sqrt(a.var_loc1.clip(lower=0))

g = a.groupby(["volume_id","layer_id"])

layer_table = pd.DataFrame({
    "R_mean": g["R"].median(),
    "Z_abs_mean": g["absZ"].median(),
    "sigma_loc0_med": g["sigma_loc0"].median(),
    "sigma_loc1_med": g["sigma_loc1"].median(),
    "resid0_RMS": g["residual_loc0"].std(ddof=0),
    "resid1_RMS": g["residual_loc1"].std(ddof=0),
    "pull0_RMS": g["pull_loc0"].std(ddof=0),
    "pull1_RMS": g["pull_loc1"].std(ddof=0),
    "n_hits": g.size()
}).reset_index()

layer_table

,volume_id,layer_id,R_mean,Z_abs_mean,sigma_loc0_med,sigma_loc1_med,resid0_RMS,resid1_RMS,pull0_RMS,pull1_RMS,n_hits
0,17,2,32.212589,37.247871,0.015,0.015,0.014785,0.014759,0.985699,0.983948,128301
1,17,4,68.192879,37.338409,0.015,0.015,0.014800,0.014756,0.986673,0.983746,123291
2,17,6,114.205940,37.277042,0.015,0.015,0.014776,0.014788,0.985075,0.985848,119738
3,17,8,170.203369,37.248318,0.015,0.015,0.014798,0.014841,0.986519,0.989393,120775
4,24,2,259.958557,37.040970,0.043,1.200,0.042593,1.181592,0.990533,0.984660,115326
5,24,4,359.965088,36.994240,0.043,1.200,0.042334,1.175907,0.984511,0.979923,116720
6,24,6,499.968170,37.046844,0.043,1.200,0.042503,1.176368,0.988441,0.980307,117055
7,24,8,659.980103,37.037098,0.043,1.200,0.042306,1.177817,0.983861,0.981514,116083
8,29,2,820.219971,37.001289,0.072,NaN,0.070814,NaN,0.983521,NaN,219578
9,29,4,1020.168030,37.076996,0.072,NaN,0.070996,NaN,0.986050,NaN,235259